extends ../layout

block content
    h2 List Articles
    hr
    .row
    a.btn(href='/blog/new')
        i.fa.fa-plus
        | New Article

    div.col-sm-12
        table.table.table-responsive
            thead
                th(style="width: 15%") Title
                th Body
                th(style="width: 20%") Created At
                th.table-actions
                th.table-actions
            tbody
                each post in blogs
                    tr
                        td=  post.title
                        td= post.bodyBlog.substr(0, 150) + ' ...'
                        td= moment(post.publishedAt).format('LLL')
                        td
                            a(href=`blog/${post.slug}/edit`)
                                i.fa.fa-pencil
                        td
                            form(action=`blog/${post.slug}/delete`, method='POST', style="display: none")
                                input(type='hidden', name='_csrf', value=_csrf)
                            a.del(href='#')
                                i.fa.fa-trash


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')

    script.

        $('a.del').click(function (e) {
            var form = $(this).parent('td').find('form');
            form.submit();
            $(this).attr('disabled', true);
        });

